<%
let tokenCollectionUrl = collection.id;
%>
<a href="/<%= collection.name %>/<%= tokenCollectionUrl %>" style="text-decoration: none;">
  <div>
    <img class="punk-avatar" style="<% if (content_image_frame=='rectangle') { %> border-radius: 10px; <% } %>" src="<%= collection.image.replace('ipfs://', 'https://ipfs.io/ipfs/'); %>" alt="<%= collection.name %>" />
    <div class="punk-info text-center">
      <span><%= collection.name %></span>
      <svg 
        viewBox="0 0 128 20" 
        class="shadow"
        style="transform: 
          <% if (collection.id % 4 == 0) { %> 
          rotate(2.10582deg) 
          <% } else if (collection.id % 4 == 1) { %> 
          rotate(-1.55956deg) 
          <% } else if (collection.id % 4 == 2) { %> 
          rotate(-2.11894deg) 
          <% } else { %> 
          rotate(-0.804652deg) 
          <% } %>
          scale(1.15);"
        >
        <path d="M18.659464617674463 5.886049064536063L104.37818072626806 10.101969738149581L113.93276709105373 19.132353769878222L21.88176277928382 18.182120128591457L18.659464617674463 5.886049064536063Z" style="fill: var(--contrast);"></path>
      </svg>
      <svg 
        viewBox="0 0 128 20" 
        style="transform: 
          <% if (collection.id % 4 == 0) { %> 
          rotate(2.10582deg) 
          <% } else if (collection.id % 4 == 1) { %> 
          rotate(-1.55956deg) 
          <% } else if (collection.id % 4 == 2) { %> 
          rotate(-2.11894deg) 
          <% } else { %> 
          rotate(-0.804652deg) 
          <% } %>
          scale(1.15);"
        >
        <path d="M18.659464617674463 5.886049064536063L104.37818072626806 10.101969738149581L113.93276709105373 19.132353769878222L21.88176277928382 18.182120128591457L18.659464617674463 5.886049064536063Z" style="fill: var(--primary);"></path>
      </svg>
    </div>
  </div>
</a>
